[submodule "diablo"]
	path = diablo
	url = https://github.com/diablo-rewriter/diablo
[submodule "code-mobility"]
	path = code-mobility
	url = https://github.com/uel-aspire-fp7/code-mobility.git
[submodule "ascl"]
	path = ascl
	url = https://github.com/uel-aspire-fp7/ascl.git
[submodule "accl"]
	path = accl
	url = https://github.com/uel-aspire-fp7/accl.git
[submodule "annotation_extractor"]
	path = annotation_extractor
	url = https://github.com/aspire-fp7/annotation_extractor.git
[submodule "code-guards"]
	path = code-guards
	url = https://github.com/aspire-fp7/code-guards
[submodule "renewability"]
	path = renewability
	url = https://github.com/uel-aspire-fp7/renewability
[submodule "remote-attestation"]
	path = remote-attestation
	url = https://github.com/aspire-fp7/remote-attestation
[submodule "actc"]
	path = actc
	url = https://github.com/aspire-fp7/actc
