[submodule "diablo"]
	path = modules/diablo
  url = https://github.com/csl-ugent/diablo
  branch = oisp
[submodule "code-mobility"]
	path = modules/code_mobility
  url = https://github.com/uel-aspire-fp7/code-mobility.git
[submodule "ascl"]
	path = modules/ascl
	url = https://github.com/uel-aspire-fp7/ascl.git
[submodule "accl"]
	path = modules/accl
	url = https://github.com/uel-aspire-fp7/accl.git
[submodule "annotation_extractor"]
	path = modules/annotation_extractor
	url = https://github.com/aspire-fp7/annotation_extractor.git
[submodule "code-guards"]
	path = modules/code_guards
  url = https://github.com/aspire-fp7/code-guards
  branch = oisp
[submodule "renewability"]
	path = modules/renewability
	url = https://github.com/uel-aspire-fp7/renewability
[submodule "remote-attestation"]
	path = modules/remote_attestation
	url = https://github.com/aspire-fp7/remote-attestation
[submodule "actc"]
	path = modules/actc
	url = https://github.com/aspire-fp7/actc
  branch = oisp
